{% extends "base.html" %}
{% load bootstrap4 %}

{% block page_title %}{{ activity.get_total_distance|floatformat:2 }} miles @ {{ activity.location }}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-4">{{ activity.get_total_distance|floatformat:2 }} miles @ {{ activity.location }}</h1>
      <p class="text-muted">{{ activity.start.timestamp }} to {{ activity.end.timestamp|date:"g:i a " }}</p>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-4">
      <div class="card">
        <div class="card-header">Details</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Duration: {{ activity.duration }}</li>
          <li class="list-group-item">Minutes per mile: {{ activity.get_minutes_per_mile }}</li>
          <li class="list-group-item">Shoe: {{ activity.shoe }}</li>
          <li class="list-group-item">Max speed: {{ activity.get_max_speed }} mph</li>
          <li class="list-group-item">Average speed: {{ activity.get_avg_speed|floatformat:2 }} mph</li>
          <li class="list-group-item">Max altitude: {{ activity.get_max_altitude|floatformat:2 }} feet</li>
          <li class="list-group-item">Max heart rate: {{ activity.get_max_heart_rate }}</li>
          <li class="list-group-item"><a href="{% url 'activity-weekly' year week %}" type="button" class="btn btn-info">View week</a></li>
        </ul>
      </div>
    </div>

    <div class="col">
      <div class="card mb-2">
        <div class="card-header">Notes</div>
	<div class="card-body">
          <p class="card-text">{{ activity.notes }}</p>
          <p class="card-text">Created: {{ activity.created }} by {{ activity.creator.username }}</p>
	</div>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <div class="card mb-2">
        <div class="card-header">Graphs</div>
        <div class="card-body">
	  <h3>Speed <small>(mph)</small></h3>
	  <canvas id="speed-chart"></canvas>

	  <h3>Altitude <small>(ft)</small></h3>
          <canvas id="altitude-chart"></canvas>

	  <h3>Vitals</h3>
          <canvas id="vitals-chart"></canvas>

          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          <script>
            const speedChart = new Chart(
              document.getElementById('speed-chart'),
              {
                type: 'line',
                data: {
                  labels: {{ times|safe }},
                  datasets: [{
                    label: 'Speed',
                    backgroundColor: '#558b2f',
                    data: {{ speed|safe }},
                }]
              },
                options: {
                  plugins: {
                    legend: {
                      display: false,
                    }
                  }
                }
              }
            );

            const altitudeChart = new Chart(
              document.getElementById('altitude-chart'),
              {
                type: 'line',
                data: {
                  labels: {{ times|safe }},
                  datasets: [{
                    label: 'Altitude',
                    backgroundColor: '#283693',
                    data: {{ altitude|safe }},
                }]
              },
                options: {
                  plugins: {
                    legend: {
                      display: false,
                    }
                  }
                }
              }
            );

            const vitalsChart = new Chart(
              document.getElementById('vitals-chart'),
              {
                type: 'line',
                data: {
                  labels: {{ times|safe }},
                  datasets: [{
                    label: 'Cadence',
                    backgroundColor: '#f57f17',
                    data: {{ cadence|safe }},
                },
	        {
                    label: 'Heart rate',
                    backgroundColor: '#b71c1c',
                    data: {{ heart_rate|safe }},
                }]
              },
                options: {
                  plugins: {
                    legend: {
                      display: true,
                    }
                  }
                }
              }
            );
          </script>
        </div>
      </div>
  </div>
</div>
{% endblock %}
