<!DOCTYPE html>

{% load bootstrap4 %}

{% load bootstrap4 %}
{% if 'use_i18n'|bootstrap_setting %}
  {% load i18n %}
  {% get_current_language as LANGUAGE_CODE %}
{% endif %}

<html lang="{{ LANGUAGE_CODE|default:'en_us' }}">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Training {% block title %}{% endblock %}</title>
    {% bootstrap_css %}

    {% if 'javascript_in_head'|bootstrap_setting %}
      {% bootstrap_jquery %}
      {% bootstrap_javascript %}
    {% endif %}

    {% block bootstrap4_extra_head %}{% endblock %}

  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="{% if user.is_authenticated %}{% url 'accounts-profile' %}{% else %}{% url 'home' %}{% endif %}">Training</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
     
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            {% if not user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts-login' %}">Log in</a>
            </li>
            {% else %}
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'create-location' %}">Create a location</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'create-activity' %}">Create an activity</a>
            </li>
            {% endif %}
          </ul>
          <span class="navbar-text my-2 my-lg-0">
            {% if user.is_authenticated %}
               Hello <a href="{% url 'accounts-profile' %}">{{ user.username }}</a>! [<a href="{% url 'accounts-logout' %}">logout</a>]
            {% endif %}
          </span>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col">
          {% bootstrap_messages %}
        </div>
      </div>
    </div>

    {% if user.is_authenticated %}
    <div class="wrapper pt-5 pb-5 mb-2" style="background-color: #f7f7f9;">
      <div class="container">
        <div class="row">
          <div class="col">
            <h1 class="display-3">{% block page_heading %}{% endblock %}</h1>
            <p class="text-muted">{% block page_subheading %}{% endblock %}</p>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    {% block content %}
    {% endblock %}

    {% if not 'javascript_in_head'|bootstrap_setting %}
      {% bootstrap_jquery %}
      {% bootstrap_javascript %}
    {% endif %}

    {% block bootstrap4_extra_script %}{% endblock %}

  </body>
</html>
