<!DOCTYPE html>

{% load static %}
{% load bootstrap4 %}
{% load running %}

{% load bootstrap4 %}
{% if 'use_i18n'|bootstrap_setting %}
  {% load i18n %}
  {% get_current_language as LANGUAGE_CODE %}
{% endif %}

<html lang="{{ LANGUAGE_CODE|default:'en_us' }}">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% now "F Y" %}: {% block page_title %}{% endblock %}</title>
    {% bootstrap_css %}
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>

    {% if 'javascript_in_head'|bootstrap_setting %}
      {% bootstrap_jquery %}
      {% bootstrap_javascript %}
    {% endif %}

    {% block bootstrap4_extra_head %}{% endblock %}

    {% block extra_head %}{% endblock %}

  </head>
  <body>
    {% base_navbar user %}

    {% block content %}
    {% endblock %}

    {% if not 'javascript_in_head'|bootstrap_setting %}
      {% bootstrap_jquery %}
      {% bootstrap_javascript %}
    {% endif %}

    {% block bootstrap4_extra_script %}{% endblock %}

  </body>
</html>
