{% extends "base.html" %}

{% load bootstrap4 %}

{% block page_title %}Create a new activity{% endblock %}

{% block page_heading %}Create a new activiity{% endblock %}
{% block page_subheading %}Went for a run? It's time to upload a new activity.{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-7">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button type="submit" class="btn btn-primary">
          Submit
        </button>
        {% endbuttons %}
      </form>
    </div>
  </div>
</div>

{% endblock %}
