{% extends "base.html" %}
{% load bootstrap4 %}


{% block page_title %}
  {% if not user.is_authenticated %}Home{% else %}{{ user.username }}'s runs{% endif %}
{% endblock %}

{% block page_heading %}
  {% if not user.is_authenticated %}
    Welcome to the training logger
  {% else %}
    {{ user.username }}'s runs
  {% endif %}
{% endblock %}

{% block page_subheading %}
  {% if not user.is_authenticated %}
    I track runs!
  {% else %}
    A page for tracking {{ user.username }}'s runs.
  {% endif %}
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div class="container">
  <div class="row mb-3">
    <div class="col">
      <div class="card">
        <div class="card-header">This week</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{ weekly.count }} runs</li>
          <li class="list-group-item">{{ weekly_mileage|floatformat:2 }} miles</li>
          <li class="list-group-item">{{ weekly_time }} time spent</li>
        </ul>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-header">This month</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{ monthly.count }}</li>
          <li class="list-group-item">{{ monthly_mileage|floatformat:2 }} miles</li>
          <li class="list-group-item">{{ monthly_time }}</li>
        </ul>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-header">This year</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{ yearly.count }} runs</li>
          <li class="list-group-item">{{ yearly_mileage|floatformat:2 }} miles</li>
          <li class="list-group-item">{{ yearly_time }}</li>
        </ul>
      </div>
    </div>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <h2>Activities</h2>
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Location</th>
            <th scope="col">Distance</th>
            <th scope="col">Duration</th>
            <th scope="col">Minutes per mile</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for activity in activities %}
          <tr>
            <td>{{ activity.start.timestamp|date:"l, F j, Y" }}</td>
            <td>{{ activity.location }}</td>
            <td>{{ activity.get_total_distance|floatformat:2 }} miles</td>
            <td>{{ activity.duration }}</td>
            <td>{{ activity.get_minutes_per_mile }}</td>
            <td><a href="{% url 'activity-detail' activity.id %}">view</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
    <div class="col-3">
      <div class="card mb-2">
        <div class="card-header">Locations</div>
        <ul class="list-group list-group-flush">
        {% for location in locations %}
        <li class="list-group-item">{{ location.name }} <span class="badge badge-dark">{{ location.activity_set.count }}</span></li>
        {% endfor %}
        </ul>
      </div>
      <div class="card">
        <div class="card-header">Active Shoes</div>
        <ul class="list-group list-group-flush">
        {% for shoe in shoes %}
        <li class="list-group-item">{{ shoe.manufacturer }} {{ shoe.brand }} <span class="badge badge-{{ shoe.status }}">{{ shoe.distance|floatformat:2 }}</span></li>
        {% endfor %}
        </ul>
      </div>

    </div>
  </div>
</div>

{% else %}

<div class="container">
  <div class="row">
    <div class="col">
    	<p>Log in to use the training application.</p>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}
