{% extends "base.html" %}
{% load bootstrap4 %}
{% load running %}

{% block page_title %}Week of {% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-4">Week #{{ week|safe }}, {{ year|safe }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-header">Stats</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Weekly mileage: {{ mileage|floatformat:2 }}</li>
          <li class="list-group-item">Duration: {{ duration }}</li>
        </ul>
      </div>

      <div class="card mt-3">
        <div class="card-header">Shoe{% if shoes.count != 1 %}s{% endif %}</div>
        <ul class="list-group list-group-flush">
          {% for shoe in shoes %}
          <li class="list-group-item">{{ shoe.manufacturer }} {{ shoe.brand }} <span class="badge badge-{{ shoe.status }}">{{ shoe.distance|floatformat:2 }} miles</span></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col">
      {% activity_table activities %}
    </div>
  </div>
</div>
{% endblock %}
