{% extends "base.html" %}
{% load bootstrap4 %}

{% block page_title %}Create a new activity{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-4">New activity</h1>
      <p>Use this form to create a new activity. Upload the .FIT file from your device to process your run.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-7">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button type="submit" class="btn btn-primary">
          Submit
        </button>
        {% endbuttons %}
      </form>
    </div>
  </div>
</div>
{% endblock %}
