{% extends "base.html" %}
{% load bootstrap4 %}

{% block page_title %}Log in{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-4">Log in</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-7">

      {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
      {% endif %}

      {% if next %}
          {% if user.is_authenticated %}
          <p>Your account doesn't have access to this page. To proceed,
          please login with an account that has access.</p>
          {% else %}
          <p>Please login to see this page.</p>
          {% endif %}
      {% endif %}

      {% if not user.is_authenticated %}
        <p>You are not logged into the site, used this form to authenticate.</p>
        <form method="post" action="{% url 'accounts-login' %}">
          {% csrf_token %}
          {% bootstrap_form form %}
       
         {% buttons %}
          <button type="submit" class="btn btn-primary">
            Login
          </button>
          {% endbuttons %}

          <input type="hidden" name="next" value="{{ next }}">
        </form>
      {% else %}
      	<p>You are already logged into the site.</p>
	<p><a href="{% url 'home' %}">Home</a></p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
