{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}

{% if user.is_authenticated %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>{{ user.username }}'s profile</h1>
      <p>This is the profile page for {{ user.username }}.</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <h2>Activities</h2>
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col">date</th>
            <th scope="col">location</th>
            <th scope="col">distance</th>
          </tr>
        </thead>
        <tbody>
          {% for activity in activities %}
          <tr>
            <td>{{ activity.start.timestamp|date:"l, F j, Y" }}</td>
            <td><a href="{% url 'activity-detail' activity.id %}">{{ activity.location }}</a></td>
            <td>{{ activity.get_total_distance }} miles</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
    <div class="col-3">
        <h2>Locations</h2>
        <ul>
        {% for location in locations %}
        <li>{{ location.name }}</li>
        {% endfor %}
        </ul>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}
